

.wrapper {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    height: 300px;
}

.pic {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

img {
    max-width: 400px;
    max-height: 298px;
    overflow: hidden;  
}

.itemlist {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5px;
}